<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

<!--    https://mkyong.com/logging/log4j-xml-example/ -->
<!--    Output to Console-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%m%n" />
        </layout>
    </appender>

<!--    Output to File-->
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1KB" /> <!--Максимальный размер одного файла-->
        <param name="maxBackupIndex" value="2" /> <!--Максимальное количество создаваемых файлов,
        когда начинается следующий файл он будет не 3, а будет затирать первый-->
        <param name="file" value="target/logfile_test.log" />
        <layout class="org.apache.log4j.PatternLayout"> <!--Какую информацию выводить и в каком формате-->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
            <!-- https://www.tutorialspoint.com/log4j/log4j_patternlayout.htm
                %d{yyyy-MM-dd HH:mm:ss} - Дата когда писался лог
                %-5p - Уровень логгирования (debug, info и тд)-->
        </layout>
    </appender>

    <category name="com.evgeniy.logger.test"> <!--Все классы которые находятся в этом пакете будут
    использовать настройки ниже-->
        <!--all, trace, debug, info, warn, error, fatal-->
        <priority value="all"/>
        <appender-ref ref="file"/> <!--Вывод в файл-->
        <appender-ref ref="console"/> <!--Вывод на консоль-->
    </category>

</log4j:configuration>